**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/dist
**/*.nupkg
**/*.zip
**/*.tar.gz
**/appsettings.local.json
**/.env
**/*.secret
**/*.pfx
**/TestResults
Dockerfile
docker-compose.yml
docker-compose.override.yml
